
.nav-Items {
    @include flex-dis(column, null, space-between);
    z-index: 100;
    background-color:#ffa726;
    width: 92%;
    margin: 20px auto;
    border-radius:5px;
    padding:3px 0;

    
    @include el(icon) {
        color:$color-yellow-dark-1;
        font-size:12px;
        margin-left: 15px;
    }
    @include el(list) {
        list-style: none;
    }
    @include el(link) {
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        align-items:center;
        margin: 0;
        padding: 5px;
        width: inherit;
        color: #ffff;
        &:hover {
            background-color: map-get($back-color, linkHover-background);
            color:map-get($back-color, linkHover-color);
        }
        &:focus {
            color:map-get($back-color, linkHover-focus);
        }
    }
}

.submenu{
    background-color:$color-gray-dark-2;
    margin: 0;
    padding: 0;
   ul {
     background-color:#37474f

   }
}

.nav-item-layer{
    background-color: $color-yellow-dark-1;

}
.nav-item-layer a{
 color :$color-gray-dark-1;
 display: flex;
        justify-content: flex-start;
        align-items:center;
 &:focus {
    color: $color-gray-dark-1

  }
}
.nav-item-layer ul{
  
    background-color:$color-gray-light-2;
    width:100%;

   }
   .nav-item-layer li{
    list-style-type: none;

   }
 
.logo__title{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: BTitrBold,'BTitrBold',tahoma;
    font-size:16px;
    font-weight:700;
}